@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'azonix';
    src: url('./assets/fonts/Azonix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.azonix-font {
    font-family: 'azonix', sans-serif;
}

  .gradient-underline {
    border-bottom: 4px solid;
    border-image: linear-gradient(to right,
    #E4B53B,
    #EDAD32,
    #FF7035,
    #FF4E5F,
    #C13AC5,
    #11B9ED,
    #9CEFEE,
    #1CE391
    ) 1;
  }